.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .backgroundBase {
    background-image: url("./Images/raindrops.jpg");
    background-size: cover;
    height: 1000px;
  }

  .beersListing {
    background-image: none;
  }

  h2.header {
    font-weight: bold;
    font-size: 40px;
    color: darkorange;
    text-shadow: 2px 2px 8px #FF0000;
  }

  h1.header {
    font-weight: bold;
    font-size: 60px;
    color: darkorange;
    text-shadow: 2px 2px 8px #FF0000;
  }